<header class="header">
  <nav class="nav container">
    <a href="index.html" class="nav-logo">GreenCode</a>
    <button class="menu-toggle" id="menu-toggle">
      <i class="fas fa-bars"></i>
    </button>
    <ul class="nav-menu" id="nav-menu">
      <li><a href="index.html" class="nav-link">Início</a></li>
      <li><a href="sobre.html" class="nav-link">Sobre Nós</a></li>
      <li><a href="servicos.html" class="nav-link">Serviços</a></li>
      <li>
        <a href="programa-escolas.html" class="nav-link">Programa Escolas</a>
      </li>
      <li><a href="eventos.html" class="nav-link">Eventos</a></li>
      <li><a href="contato.html" class="nav-link">Contato</a></li>
      <li>
        <a href="carrinho.html" class="nav-link nav-icon" title="Meu Carrinho">
          <i class="fas fa-shopping-cart"></i>
        </a>
      </li>
      <li><a href="login.html" class="nav-link">Login</a></li>
    </ul>
  </nav>
</header>
